[submodule "ext/Test__Mock"]
	path = ext/Test__Mock
	url = git://github.com/jnthn/test-mock.git
[submodule "ext/JSON__Tiny"]
	path = ext/JSON__Tiny
	url = git://github.com/moritz/json.git
[submodule "ext/File__Tools"]
	path = ext/File__Tools
	url = git://github.com/tadzik/perl6-File-Tools.git
